<div class="product-policy-accordion">
  {% if shop.shipping_policy != blank and shop.shipping_policy.url != blank %}
    <p>
      See full shipping details
      <a href="{{ shop.shipping_policy.url }}">here</a>
    </p>
  {% endif %}

  {% if shop.refund_policy != blank and shop.refund_policy.url != blank %}
    <p>
      See full return &amp; exchange details
      <a href="{{ shop.refund_policy.url }}">here</a>
    </p>
  {% endif %}
</div>

<style>
  .product-policy-accordion {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
  }

  .product-policy-accordion p {
    margin: 0 0 8px;
  }

  .product-policy-accordion p:last-child {
    margin-bottom: 0;
  }

  .product-policy-accordion a {
    font-weight: 400;
    text-decoration: underline;
  }
</style>
